LOCATE COMP "cs"     SITE "E1";
LOCATE COMP "clk"    SITE "F2";
LOCATE COMP "mosi"   SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
LOCATE COMP "led[1]" SITE "C1";
LOCATE COMP "led[2]" SITE "A2";
LOCATE COMP "led[3]" SITE "B1";

IOBUF PORT "cs"     IO_TYPE=LVCMOS33;
IOBUF PORT "clk"    IO_TYPE=LVCMOS33;
IOBUF PORT "mosi"   IO_TYPE=LVCMOS33;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;